<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DivisApp 22011396
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 35%;">
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item class="entrada">
          <ion-input 
            label="Quetzales: " 
            type="number" 
            id="cantidad" 
            [(ngModel)]="quetzales">
          </ion-input>
        </ion-item>
        <ion-item class="salida">
          <ion-input label="Dólares: " id="resultado" value=" " readonly="true" [value]="dolares" ></ion-input>
        </ion-item>
        <ion-button (click)="convertir()">Convertir</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
5058 6480